.container {
  border: 2px solid blue;
}

.title {
  border: 2px solid red;
  height: 200px;
  width: 300px;
  margin-left: 50px;
}

p {
  border: 2px solid red;
  height: 40px;
}

span {
  border: solid 2px blue;
  height: 40px;
}
