#cardContainer {
  display: none;
  padding: 100px;
}

.card {
  height: 200px;
  width: 400px;
  border: solid 1px rgb(206, 206, 206);
  display: flex;
  border-radius: 10px;
  box-shadow: 9px 10px 18px -12px rgba(0,0,0,0.75);
  justify-content: space-between
}

.img-profile {
  width: 140px;
}

.img-container {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
}

.text-container span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}